* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    min-width: none;
    max-height: fit-content;
    width: 10em;
    margin: 2em;
    padding: 1em;
    border: 2px black dotted;
    border-radius: 10%;
    background-color: yellow;
}

.card .product__name {
    font-weight: bolder;
}

.card .product__category {
    font-weight: bolder;
    color: grey;
    text-transform: capitalize;
    font-size: smaller;
}

.card .rating__count {
    font-size: smaller;
}

.card button {
    margin-top: 1em;
    color: orange;
    font-weight: bold;
    border: 2px solid orange;
    padding: 2px;
    border-radius: 10%;
    background-color: transparent;
}


.card button:hover {
    cursor: pointer;
}